// HEADER
//################## background header ####################### 
$h-color: rgb(8, 146, 180);

//################## MENU ####################### 
$menu-color: rgba(0, 121, 190, 0.774);
$menu-border-btn: rgb(255, 255, 255);


//################## FONTS ######################
$text-logo-color: #FFF;
$hover-color: rgba(1, 98, 155, 0.774);

// MAIN

//FOOTER