// BACKGROUNDS
$size-width-back: 100vw;
$size-height-back: 80px;

// FONTS
$size-font-principal: 2em;
$size-nav-font: 0.8em;
$size-font-conteudo: 1em;
// IMAGENS
$size-img-logo: 80px;
// BOTÕES
$size-btn-w: 80px;
$size-btn-h: 28px;
